<!-- <h1>App loaded</h1>
<div id="menuItem" class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        <button routerLink="/dashboard" class="btn btn-primary">
          Registeration
        </button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" routerLink="/admin">
          Login
        </button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" routerLink="/user">
          Change Password
        </button>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>