.openMenu {
float: right;
cursor: pointer;
}

.toolTip {
position: absolute;
z-index: 9999;
background: #fff;
min-width: 200px;
min-height: 200px;
padding: 1rem;
border: 1px solid;
}

#tableContainer {
width: 70%;
margin: auto;
height: 70vh;
overflow: auto;
}

table {
margin-bottom: 1rem;
color: #212529;
font-size: 1rem;
// max-height: 100vh;
// width: 80%;
margin: auto;

tr {
text-align: center;
}
th{
position: relative;
}
}
